body {
    background-color: #404040;
    color: white;
}

.card {
    text-align: center;
    border-radius: 15px;
}

article {
    text-align: center;
    margin: auto;
}

nav {
    background-color: #210B2C;
    color: #70F8BA;
}

h1 {
    margin-bottom: 0.7em;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    font-size: 150%;
}

.navbar a {
    color: #70F8BA;
}

.navbar a:hover {
    color: #70f8bba9;
}

article {
    font-size: 1.3em;
    margin: auto 1em;
    margin-bottom: 2em;
}

.card-text {
    font-size: 1em;
}
footer{
    background-color: #210B2C;
}
.forras{
    color: #70F8BA;
    text-align: center;
    
}
.forras a{
    text-decoration: none;
}