body {
    background-color: #404040;
    color: white;
}

.card {
    text-align: center;
    border-radius: 15px;
}

article {
    text-align: center;
    margin: auto;
}

nav {
    background-color: #210B2C;
    color: #70F8BA;
    position: sticky;
}

h1 {
    margin-bottom: 0.7em;
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    font-size: 150%;
}

.navbar a {
    color: #70F8BA;
}

.navbar a:hover {
    color: #70f8bba9;
}



.card-text {
    font-size: 1em;
}
footer{
    background-color: #210B2C;
}
.forras{
    color: #70F8BA;
    text-align: center;

}
.forras a{
    text-decoration: none;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0.5em;
}
p{
    font-size: 1.3em;
    margin: auto 1em;
    margin-bottom: 2em;
}
.viktor_kepek{
    width: 105%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1em;
    padding-bottom: 2em;
}

.h3_cim{
    text-align: center;
    padding: 1em 0em;
}
.row{
    padding: 0.7em 0em;
}

.Panni main{
    width: 75%;
    margin: auto;
}

.szoveg{
    padding-top: 2em;
}

#linuxpingu{
    width: 80em;
    margin: auto;
    margin-top: 2em;
    margin-bottom:2em ;

}

#torvaldspingu{
    margin-bottom: 3em;
}

.Panni h2{
    text-align: center;
    padding: 1em;
    font-variant: small-caps;
}

.Panni iframe{
    margin: auto;
    display: block;
    width: 900px;
    height: 506px;

}
.Panni article, .video{
    padding-bottom: 4em;
}

footer a{
    color: #70F8BA;
}

.forras li, .forras li a{
    text-align: center;
    color: #70F8BA;
    list-style-type: none;
    font-size: 2rem;
    padding: 3rem;
    margin: 0.5em;
}

.forras a:hover{
    text-shadow: #210B2C 3px 3px 3px;
    border: #210B2C solid 0.1em ;
    border-radius: 0.5em;
    box-shadow: #210B2C 0.5em 0.5em 1.5em;
    background-color: rgba(33, 11, 44, 0.6);
}
